* {
  box-sizing: border-box;
   margin: 0;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: rgba(191, 191, 191,0.5);
  text-decoration: none;
  height: 9vh;
  padding: 30px;
  position: fixed;
  width: 100%;
}
.div-burger {
  display: block;

}
.nav-list {
  list-style: none;
  display: none;
}
.list-show {
  display: block;
  position: fixed;
  top: 9vh;
  right:0px ;
  border: 1px solid grey;
  background-color: rgb(191,191,191);
  z-index: 99;
  margin-top: 0;

}
.link-styles {
  font-size: 20px;
  border-bottom: 1px dashed grey;
  letter-spacing: 4px;
  line-height: 40px;
}
.opacity {
  background-color: rgb(255,255,255);
}
a {
  text-decoration: none;
}
a:link{
  color: black;
}
a:visited{
  color: black;
}
li {
  font-size: 2vh;
}

.icon {
  width: 40px;
  height: 40px;
}
.menuButton {
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menuButton span {
  display: block;
  position: absolute;
  height: 16.5%;
  width: 100%;
  background: black;
  border-radius: 16.5%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menuButton span:nth-child(1) {
  top: 0px;
}

.menuButton span:nth-child(2) {
  top: 41.75%;
}

.menuButton span:nth-child(3) {
  bottom: 0%;
}

.menuButton.open span:nth-child(1) {
  top: 33%;
  transform: rotate(135deg);
}

.menuButton.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menuButton.open span:nth-child(3) {
  top: 33%;
  transform: rotate(-135deg);
}


@media(min-width: 735px){
  .container{}
  .navBar {
    padding: 10px;
  }
  .list-show {
    display: none;
    position: inherit;
    border: none;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  .menuButton {
    display: none;
  }
.nav-list {
display: flex;
flex-direction: row;
}

.link-styles {
  list-style-type: none;
  margin: 15px;
  font-size: 1em;
  border-bottom: none;
  line-height: 10px;
  letter-spacing: 1px;
  text-align: justify;

}

};
@media(min-width:1024px){
  .link-styles {
    font-size: 1.4em;
  }
}
