.slide-one {
  background-image: url("../images/Montañas 50 opacidad.jpg");
}
.slide-two {
  background-image: url("../images/Manos abuela 50 opacidad.jpg");
}

.slide-three {
  background-image: url("../images/Pueblo 50 opacidad.jpg");
}

.buttons {
  position: relative;
  top: 10%;
}

.buttons button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: none;
  border-width: 0;
  background-color: white;
  position: relative;
  bottom: -85%;
  margin-left: 20px;
}
.btn-active {
  background-color: #29ABE2;
}

.homecontainer {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hometitle{
  color: white;
  font-size: 3em;
  margin-bottom: 5px;
}
.title {
  width: 80%;
  text-align: center;
}
.homeparagraph {
  color: white;
}
@media(min-width:768px) {
  .hometitle{
    color: white;
    font-size: 4em;
    margin-bottom: 5px;
  }
  .title {
    width: 45%;
    position: relative;
    bottom: -25%;
    left: 25%;
  }
  .buttons {
    position: relative;
    top: 10%;
  }
}
